* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Свойства для сброса начальных стилей элементов */
}

body {
  font-family: "inter", sans-serif;
  color: #303030;
}

header {
  background-color: rgba(41, 101, 241, 1);
  width: 100vw;
  height: 70px;
  padding-top: 25px;

  /* Стили для хедера */
}

header span {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;

  /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
  padding: 60px 0 60px;
  height: 100vh;
  background-color: rgba(250, 250, 255, 1);
  /* Стили для первой секции */
}

.main-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  color: rgba(48, 48, 48, 1);

  /* Стили для заголовка в первой секции */
}

.main-text {
  font-weight: 400;
  font-size: 18px;
  color: rgba(48, 48, 48, 1);
  /* Стили для текста в первой секции */
}

.main-image {
  max-width: 715px;

  /* Стили для изображения в первой секции */
}

.about-section {
  padding: 100px 0 100px;
  background-color: rgba(255, 255, 255, 1);
  /* Стили для второй секции */
}

select {
  padding: 9px 87px 8px 12px;
  width: 150px;
  height: 36px;
  background: url(assets/svg/ep_arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  appearance: none;
  border: 2px solid rgba(0, 0, 0, 0.3);

  border-radius: 5px;

  /* Стили для выпадающего списка */
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;

  /* Стили для заголовков во второй секции */
}

.frameworks-list {
  font-weight: 400;
  font-size: 16px;
  list-style-image: url(assets/svg/solar_map-arrow-up-bold.svg);
  padding: 0 20px;
  /* Стили для маркированного списка во второй секции */
}

.books-list {
  padding:  0 20px;
  font-weight: 400;
  font-size: 16px;

  /* Стили для нумерованного списка во второй секции */
}

.label {
  font-weight: 400;
  font-size: 16px;

  /* Стили для подписей чекбоксов */
}

.text-field {
  font-weight: 400;
  font-size: 16px;
  width: 330px;
  height: 36px;
  border-radius: 5px;
  padding: 12px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  /* Стили для односточного поля ввода текста */
}

.btn {
  font-weight: 700;

  font-size: 14px;

  width: 125px;
  height: 36px;
  background-color: rgba(41, 101, 241, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  /* Стили для кнопки */
}

.line {
  margin: 60px 0 60px;
  /* Стили для линии */
}

table {
    font-size: 14px;
    width: 300px;
    height: 196px;
    border-collapse: collapse;
    border: 1px solid rgba(149, 161, 187, 1)
  /* Стили для таблицы */
}

th,
td {
    
font-weight: 400;
text-align: left;
font-size: 14px;
padding: 12px 15px;




  /* Стили для ячеек таблицы */
}
th{
    font-weight: 600;
   
}

footer {
    height: 70px;
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 0 1px;
  /* Стили для футера */
}

.footer-link {
   
font-weight: 400;
text-decoration: none;
font-size: 14px;


  /* Стили для футера */
}
